body {
  color: #fafafa !important;
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background: rgba(23, 23, 23, 0.8);
}

header .logo {
  font-size: 36px;
  color: #F26F5A;
  text-decoration: none;
}


header nav a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  padding-left: 60px;
  padding-right: 28px;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  text-align: left;
  color: #fff;
  background: #171717;
  transition: all .3s;
  text-decoration: none !important;
  margin-right: 15px;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  border: 1px solid #b4160b;
}

header nav a.header-btn:after {
  position: absolute;
  top: 50%;
  left: 25px;
  display: block;
  width: 24px;
  height: 17px;
  background-image: url('../images/png_spritesheet.webp');
  background-repeat: no-repeat;
  background-position: -34px -73px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
}

header nav a.header-btn svg {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

header nav a.header-btn.play-btn:after {
  background-position: -34px -73px;
}

header nav a.header-btn.hot-btn,
header nav a.header-btn.logout-btn {
  padding-left: 56px;
}

header nav a.header-btn.hot-btn:after {
  left: 25px;
  width: 19px;
  height: 25px;
  background-position: -5px -73px;
}

header nav a.header-btn.logout-btn:after {
  left: 25px;
  width: 30px;
  height: 25px;
  background-position: -4px -200px;
}

header nav a.header-btn.login-btn {
  background: #009f00;
}

header nav a.header-btn.login-btn:after {
  display: none;
}

header nav a.header-btn.history-btn:after {
  display: none;
}

#messages {
  min-height: 300px;
  height: calc(100vh - 300px);
}

#sidebar_container {
  min-height: 300px;
  height: calc(100vh - 232px);
}

#buttons button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}

#buttons select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar {
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.sidebar_item_users {
  padding: 10px 0;
}

#site_content {
  margin-top: 30px;
  background: rgba(23, 23, 23, 0.6);
}

.result-container .backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.result-container .result {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-container .result span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 32px;
  transform: translate(-50%, -50%);
}

.login-form {
  width: 450px;
  margin: 50px auto;
  background: rgba(23, 23, 23, 0.6);
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgba(247, 245, 245, 0.24) 0 3px 8px;
}

.login-form .form-field {
  margin-bottom: 10px;
}

.login-form .form-field input {
  width: 428px;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border-radius: 4px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form .btn-container {
  text-align: center;
}

.login-form button {
  margin-top: 12px;
  background: #F26F5A;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  border-radius: 4px;
  height: auto;
  width: auto;
  cursor: pointer;
}

.login-form h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.ranking-page h1 {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

#ranking {
  flex: 1;
  padding: 20px 20px 20px 50px;
}

.ranking-table {
  min-width: 300px;
}

.ranking-table thead td {
  font-weight: bold;
}

.ranking-container {
  display: flex;
}

.ranking-container .cup {
  width: 400px;
  text-align: center;
  padding-top: 50px;
}

.ranking-container .cup img {
  width: 250px;
}
