################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/.vs
.idea/
/source/sources/node_modules/.bin
/source/sources/node_modules
package-lock.json
source/package-lock.json
